.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .box {
  width: 300px;
  height: 300px;
  border: 1px solid peru;
}
.container .box h1 {
  color: orange;
}
.container div p {
  color: aqua;
}
.container div .test ul li {
  color: red;
}