button {
  padding: 20px 30px;
  border: 0;
  width: 200px;
  background-color: orange;
  color: green;
}

.button2 {
  padding: 20px 30px;
  border: 0;
  width: 200px;
  background-color: aqua;
  color: yellow;
  border-radius: 10px;
}

.divTag {
  padding: 20px 30px;
  border: 0;
  width: 200px;
  background-color: crimson;
  color: white;
}