
$greyColor:  #73737f;
$primary: #10109c;

$fontSize: 10px;
$fontSizeMd: $fontSize * 2;
$fontSizeLg: $fontSize * 3;

// $fontSizeSm: 14px;
// $fontSizeMd: 18px;
// $fontSizeLg: 23px;
// $fontSizeXl: 27px;