// @import './variables.scss';

// h1{
//     color: $greyColor;
// }

// p{
//     color: $primary;
//     font-size: $fontSizeLg - 3;
// }


// button{
//     padding: 20px 30px;
//     border: 0;

// }

// .button1{
//     background-color: yellow;
// }
// .button2{
//     background-color: orange;
// }

@mixin ButtonStyle($firstColor, $textColor: yellow){
    padding: 20px 30px;
    border: 0;
    width: 200px;
    background-color: $firstColor;
    color: $textColor;
}

button{
    @include ButtonStyle(orange, green);
}
.button2{
    @include ButtonStyle(aqua );
    border-radius: 10px
}

.divTag{
    @include ButtonStyle(crimson, white);
}